[Version]
ConfigVersion=3.10

[C64]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=720
Window0Height=576
Window0Xpos=-40
Window0Ypos=-48
VICIIGLFilter=1

[C64SC]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=720
Window0Height=576
Window0Xpos=-40
Window0Ypos=-48
VICIIGLFilter=1

[SCPU64]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=720
Window0Height=576
Window0Xpos=-40
Window0Ypos=-48
VICIIGLFilter=1

[C64DTV]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=720
Window0Height=576
Window0Xpos=-40
Window0Ypos=-48
VICIIGLFilter=1

[C128]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=800
Window0Height=600
Window0Xpos=-80
Window0Ypos=-60
VICIIGLFilter=1
VDCGLFilter=1

[CBM-II]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=720
Window0Height=576
Window0Xpos=-40
Window0Ypos=-48
CrtcGLFilter=1

[CBM-II-5x0]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=720
Window0Height=576
Window0Xpos=-40
Window0Ypos=-48
VICIIGLFilter=1

[VIC20]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=800
Window0Height=600
Window0Xpos=-80
Window0Ypos=-60
VICGLFilter=1

[PLUS4]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=800
Window0Height=600
Window0Xpos=-80
Window0Ypos=-60
TEDGLFilter=1

[PET]
MenuKey=291
SoundDeviceName="sdl"
Window0Width=720
Window0Height=576
Window0Xpos=-40
Window0Ypos=-48
CrtcGLFilter=1

